body {
  background-image:url('/static/img/tile.png');
 }

p {

}

h1 {
	color:#339966;
	padding-top:5%;
	font-family:Satisfy;
	font-size:72px;
	line-height:70px;
}

h2 {
	color:#339966;
	font-family: ABeeZee;
    font-size: 38px;
}

h3 {
	font-family: ABeeZee;
	color:#336666;
	font-size: 24px;
}

label {
	color:336666;
	font-family:ABeeZee;
	font-size: 24px;
}

legend {
	color:336666;
	font-family:ABeeZee;
	font-size: 24px;
}

/*------------------------ CLASSES ------*/


.thumbnails li {
  background:white;
}

.thumbnails .span1 {
  background:none;
}

.page-header {
	margin-left:7.5%;
}

/*------------------------ IDs ------*/

#title_label {
	font-size:32px;
} 

#share-well {
	padding-top:54px;
	padding-bottom:15px;
	padding-left: 75px;
}



